<div class="hero-section">
  {% for block in section.blocks %}
    {% if block.type == 'hero_image' %}
      {% render 'image', image: block.settings.hero_image %}
    {% endif %}
  {% endfor %}

  <div class="hero-content">
    {% for block in section.blocks %}
      {% if block.type == 'heading' %}
        {% liquid
          assign heading_tag = block.settings.heading_level
        %}
        <{{ heading_tag }}
          class="heading"
          style="
            --heading-font-size: {{ block.settings.heading_size }}px;
            --heading-color: {{ block.settings.color }};
          "
          {{ block.shopify_attributes }}
        >
          {{ block.settings.heading }}
        </{{ heading_tag }}>
      {% endif %}
      {% if block.type == 'button' %}
        <button
          class="button {{ block.settings.button_type }} color-{{ block.settings.button_color_scheme }}"
          style="
            --text-size: {{ block.settings.button_text_size }}px;
            --corner-radius: {{ block.settings.corner_radius }}px;
          "
          {{ block.shopify_attributes }}
        >
          {{ block.settings.button_text }}
        </button>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .hero-section {
    height: calc(100vh);
    position: relative;
  }
  .hero-section .image::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
  }
  .hero-section .image {
    width: 100%;
    height: 100%;
  }
  .hero-section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .hero-content {
    position: absolute;
    top: 75%;
    left: 5%;
    z-index: 1;
  }
  .heading {
    font-size: var(--heading-font-size);
    margin-bottom: 12px;
    color: var(--heading-color);
  }
  .button {
    border: 2px solid transparent;
    border-radius: var(--corner-radius);
    font-size: var(--text-size);
    padding: 15px 22px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button.primary {
    background-color: var(--color-button);
    color: var(--color-button-label);
    border-color: var(--color-button-border);
  }
  .button.secondary {
    background-color: var(--color-secondary-button);
    color: var(--color-secondary-button-label);
    border-color: var(--color-secondary-button-border);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Hero",
  "settings": [],
  "blocks": [
    {
      "type": "hero_image",
      "name": "Hero Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 32,
          "label": "Heading Font Size"
        },
        {
          "type": "select",
          "id": "heading_level",
          "label": "Heading Level",
          "default": "h1",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" }
          ]
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#fafafa"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Get Plans"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Type",
          "default": "primary",
          "options": [
            { "value": "primary", "label": "Primary" },
            { "value": "secondary", "label": "Secondary" }
          ]
        },
        {
          "type": "color_scheme",
          "id": "button_color_scheme",
          "default": "scheme_1",
          "label": "Color Scheme"
        },
        {
          "type": "range",
          "id": "button_text_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 16,
          "label": "Text Size"
        },
        {
          "type": "range",
          "id": "corner_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "Corner Radius"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
